body {
	position: relative;
	background-color: #000;
	margin: 0;
	padding: 10vh 0;
	font-family: 'Sigmar One', cursive;
}

img {
	max-height: 40vh;
	padding-bottom: 10vh;
	margin: auto;
	display: block;
}

p, a {
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}

p {
	color: #5a842b;
}

a, a:visited {
	color: rgba(255, 255, 255, 0.6);
	cursor: pointer;
	text-decoration: none;
	font-size: 0.8em;
}

@media screen and (max-width: 1399px) {
	p {font-size: 2.3em;}
}

@media screen and (max-width: 1024px) {
	p {font-size: 1.7em;}
}

@media screen and (max-width: 799px) {
	p {font-size: 3.5vmin;}
}

@media screen and (min-width: 1400px) {
	p {font-size: 1.5em;}
}